@page "/"
@using System.Text.RegularExpressions

<PageTitle>Home</PageTitle>

<div class="row mt-3">
    <div class="col-6">
        <div class="mb-3 justify-content-center d-flex">
            <button class="btn btn-primary" @onclick="ReplaceCharacters">
                Lavora!
            </button>
        </div>

        <textarea class="form-control" rows="20" @bind="@_inputText"></textarea>
    </div>
    <div class="col-6">
        <div class="mb-3 justify-content-center d-flex">
            <ClipboardButton Text="@_outputText"/>
        </div>

        <textarea readonly class="form-control" rows="20" @bind="@_outputText"></textarea>
    </div>
</div>

@code{

    private string _inputText;
    private string _outputText;

    private Dictionary<string, string> _replaceRules = new()
    {
        { "\"([^\"]*)\"", "“$1”" },
    };

    private Dictionary<string, string> _replaceChars = new()
    {
        { "E'", "È" },
        { "\'", "’" },
    };

    private void ReplaceCharacters()
    {
        _outputText = _inputText;
        foreach (var (pattern, replacement) in _replaceChars)
            _outputText = _outputText.Replace(pattern, replacement);

        foreach (var (pattern, replacement) in _replaceRules)
            _outputText = Regex.Replace(_outputText, pattern, replacement);
    }

}