@using ML.Helpers.UI.Services
@inject IClipboardService ClipboardService

<button class="btn btn-primary" @onclick="CopyTextToClipboard">
    Copia
</button>

@code 
{
    [Parameter] public string Text { get; set; }
    
    private async Task CopyTextToClipboard()
    {
        await ClipboardService.CopyToClipboard(Text);
    }
}